<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Basics</title>
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="scripts/app.js" charset="utf-8"></script>
</head>
<body ng-app="todoListApp">


  <div ng-controller="mainCtrl" class="list">
    <h1>My TODOs</h1>
    <div ng-repeat="todo in todos">
      <input ng-model="todo.completed" type="checkbox" />
      <label ng-hide="editing" class="editing-label">{{todo.name}}</label>
      <input ng-show="editing" ng-model="todo.name" class="editing-label" type="text">

      <div class="actions">
        <a href="" ng-click="editing = !editing">edit</a>
        <a href="">save</a>
        <a href="" class="delete">delete</a>
      </div>

    </div>
  </div>


</body>
</html>
