<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Basics</title>
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="scripts/app.js" charset="utf-8"></script>
</head>
<body ng-app="todoListApp">

  <h1>My TODOs</h1>

  <div ng-controller="mainCtrl" class="list">
    <input type="checkbox" />
    <label class="editing-label">A sample todo!</label>
    <input class="editing-label" type="text">

    <div class="actions" ng-controller="coolCtrl">
      <a href="" ng-click="whoAmI()">edit</a>
      <a href="" ng-click="helloWorld()">save</a>
      <a href="" class="delete">delete</a>
    </div>
  </div>

</body>
</html>
