<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Basics</title>
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="scripts/app.js" charset="utf-8"></script>
</head>
<body ng-app="todoListApp">


  <div ng-controller="mainCtrl" class="list">
    <h1 ng-click="helloWorld()">My TODOs</h1>
    <input ng-model="todo.completed" type="checkbox" />
    <label class="editing-label" ng-click="helloWorld()">{{todo.name}}</label>
    <input ng-model="todo.name" class="editing-label" type="text">
    <div class="actions">
      <a href="" ng-click="whoAmI()">edit</a>
      <a href="" ng-click="helloWorld()">save</a>
      <a href="" class="delete">delete</a>
    </div>
  </div>


</body>
</html>
